@import "../../styles/variables";

.root {
  max-width: 900px;
  margin: 120px auto 0;
  padding: 48px 16px;
  line-height: 1.7;
  min-height: 60vh;
  @media only screen and (max-width: $smallDisplay) {
    margin: 90px auto 0;
    padding: 30px 16px;
  }
}