@import "../../styles/variables";

.root {
  position: fixed;
  top: 0;
  z-index: 2;
  background: $whiteColor;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 34px 125px 0;
  color: $textColor;
  @media only screen and (max-width: $extraLargeDisplay) {
    padding: 34px 70px 0;
  }
  @media only screen and (max-width: $smallDisplay) {
    padding: 25px 30px;
  }
}

.nav {
  padding: 0 125px 30px 125px;
  display: flex;
  justify-content: flex-end;
  transition: transform 0.3s ease-out;
  @media only screen and (max-width: $extraLargeDisplay) {
    padding: 0 70px 30px 70px;
  }
  @media only screen and (max-width: $smallDisplay) {
    padding: 25px 30px;
  }

  a {
    margin-left: 30px;
    color: $darkGreyColor;
    text-decoration: none;
    font-size: 18px;
    @media only screen and (max-width: $smallDisplay) {
      font-size: 18px;
    }
  }
}

.active {
  font-weight: bold;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    bottom: -16px;
    width: 105%;
    background: $accentColor;
    height: 5px;
    border-radius: 30px;
    right: 0;
    @media only screen and (max-width: $smallDisplay) {
      bottom: -13px;
    }
  }
}

.logoWrapper {
  width: 40%;
  @media only screen and (max-width: $smallDisplay) {
    width: 100%;
  }
}

.logo {
  max-width: 200px;
  @media only screen and (max-width: $smallDisplay) {
    width: 165px;
  }
}

.address {
  text-align: left;

  .subtitle {
    margin-left: 30px;
  }

  @media only screen and (max-width: $smallDisplay) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-bottom: 5px;
  }
}

.number {
  text-align: right;

  .subtitle {
    margin-left: 30px;
  }

  @media only screen and (max-width: $smallDisplay) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
  }

}

.title {
  font-size: 14px;
  display: flex;
  align-items: center;
  @media only screen and (max-width: $smallDisplay) {
    font-size: 12px;
    margin-bottom: 5px;
  }

  img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    @media only screen and (max-width: $smallDisplay) {
      width: 20px;
      height: 20px;
    }
  }
}

.subtitle {
  font-weight: bold;
  font-size: 18px;
  @media only screen and (max-width: $smallDisplay) {
    font-size: 14px;
  }
}


.nav {
  display: flex;
  gap: 20px;
}

.nav.open {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 70%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  z-index: 101;
  @media only screen and (max-width: $smallDisplay) {
    width: 100%;
  }
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  cursor: pointer;
}

.burgerLine {
  height: 4px;
  width: 100%;
  background-color: #333;
  border-radius: 2px;
}

.closeButton {
  display: none;
}

/* When the screen width is less than 768px, show the burger menu */
@media (max-width: 768px) {
  .burger {
    display: flex;
  }

  .nav {
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 70%; /* Or whatever width you need */
    background-color: #fff;
    padding: 20px;
    z-index: 101;
    transform: translateX(100%); /* Initially off-screen to the right */
    transition: transform 0.3s ease-in-out; /* Smooth transition for sliding */
  }

  .nav.open {
    transform: translateX(0);
  }
  .closeButton {
    position: absolute;
    display: block;
    top: 20px;
    right: 25px;
    font-size: 50px;
    color: $darkGreyColor;
    cursor: pointer;
  }
}
