
.icon-tools:before { content: '\e800'; } /* '' */
.icon-infinity:before { content: '\e801'; } /* '' */
.icon-clock:before { content: '\e802'; } /* '' */
.icon-credit-card:before { content: '\e803'; } /* '' */
.icon-lifebuoy:before { content: '\f1cd'; } /* '' */
.icon-wpforms:before { content: '\f298'; } /* '' */
