@import "../../styles/variables";

.root {
  max-width: 1200px;
  margin: 120px auto 0 ;
  padding: 48px 120px 90px;
  @media only screen and (max-width: $smallDisplay) {
    margin: 100px auto auto;
    padding: 48px 30px 90px;
  }
}