@import "../../styles/variables";

.scrollTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: $accentColorDark;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;

  &:hover {
    background: $accentColorDarker;
  }

  &.visible {
    opacity: 1;
    visibility: visible;
  }
}
